.hover-bg{
    fill: linear-gradient(348deg, #5239FA 0%, rgba(255, 255, 255, 0.00) 100%);
    /* width: 168px;
    height: 168px; */
    /* display: none; */
}
/* .hover-bg:hover{
    display: block;
} */