<div class="bg-[#FCFDFE] py-32">

    <div class="max-w-7xl m-auto flex flex-col md:flex-row basis-2/4 px-5 xl:px-0">
  
      <div class="w-full relative">
        <img src="../../assets/images/Group 2400.png" alt="" class="w-full h-full">
        <div class="w-full h-full bg-[#1C1E53] opacity-50 absolute top-0 left-0"></div>
        <div class="w-full h-ful absolute top-0 left-0">
          <div class="max-w-[460px] mx-auto mt-24 px-5 lg:px-0">
          <h2 class="text-white font-semibold text-[1.5rem] md:text-[2.5rem] lg:text-[3.375rem]">Building stellar websites for early startups</h2>
          <p class="text-white mt-6 text-sm md:text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.</p>
        </div>
        </div>
      </div>
      <div class="w-full ">
        <div class="w-full h-full bg-[#1C1E53]">
          <div class="max-w-[432px] h-full mx-auto flex flex-col justify-center px-5 lg:px-0 ">
            <h2 class="text-white font-semibold text-[1.2rem] md:text-[2rem] mt-5 ">Send inquiry</h2>
            <p class="mt-4 mb-10 text-white font-medium text-sm md:text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <div>
              <input type="text" placeholder="Your Name" class="py-[10px]  sm:py-[18px] text-sm sm:text-base text-[#e4e6f3] px-8 w-full border border-[#323464] rounded-lg bg-transparent mb-4">
              <input type="email" placeholder="Email" name="email" id="" class="py-[10px]  sm:py-[18px] text-sm sm:text-base text-[#e4e6f3] px-8 w-full border border-[#323464] rounded-lg bg-transparent mb-4">
              <input type="url" placeholder="Paste your Figma design URL" name="url" id="" class="py-[10px]  sm:py-[18px] text-sm sm:text-base text-[#e4e6f3] px-8 w-full border border-[#323464] rounded-lg bg-transparent mb-4">
              <button class="w-full py-2 sm:py-4 rounded-full bg-[#FCD980] mt-6 font-semibold text-base sm:text-[1.125rem]">Send an Inquiry</button>
              <button class="w-full py-4 text-white bg-transparent mt-2 sm:mt-6 font-semibold text-sm sm:text-[1.125rem] flex items-center justify-center gap-5 ">Get in touch with us <img src="../../assets/images/Arrow 1 (1).png" alt=""></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  