
<div class="bg-wrapper">
  <div class="star" *ngFor="let star of stars"
    [style.left.px]="star.x" [style.top.px]="star.y" [style.width.px]="star.size" [style.height.px]="star.size">
  </div>
  
  <div class="max-w-7xl m-auto flex flex-col md:flex-row py-8 md:py-32 items-center basis-2/4 px-5 ">
    <div class="w-full">
      <div class="max-w-[562px] mx-auto md:mx-0  text-center md:text-left  text-white mb-12">
        <h1 class="text-[1.375rem] md:text-[2.375rem] lg:text-[3.375rem] font-semibold ">Building stellar websites for early startups</h1>
        <p class="text-[#8B8CA7] mt-4 text-sm md:text-base"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt.</p>
      </div>
      <div class="flex gap-8 items-center mb-5 justify-center md:justify-start">
        <button class="py-2 px-8 lg:py-4 lg:px-14 rounded-full text-xs md:text-base text-[#000] bg-[#FCD980] font-semibold">View our work</button>
        <button class="group flex gap-4 items-center text-white text-xs md:text-base">View Pricing <img src="../../assets/images/Arrow 1 (1).png "
            alt="" class="group-hover:translate-x-2	transition-all duration-500"></button>
      </div>
    </div>

    <div class="w-full">
      <img src="../../assets/images/Illustration.png" alt="" class="w-full">
    </div>
  </div>
</div>
<!-- second portion  -->
<div class="bg-[#F4F6FC]">
  <div class="max-w-7xl m-auto flex flex-col md:flex-row py-8 md:py-32 px-5">
    <div class="basis-[40%] w-full flex flex-col text-center md:text-left items-center md:items-start">
      <h2 class="text-3xl lg:text-5xl font-semibold">How we work</h2>
      <p class="max-w-[400px] my-4 text-[#90929C] text-sm lg:text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor.</p>
      <button class="group flex gap-4 items-center text-[#2405F2] mb-5 text-sm lg:text-base">Get in touch with us <img
          src="../../assets/images/Arrow 2.png" alt="" class="group-hover:translate-x-2	transition-all duration-500"></button>
    </div>

    <div class="basis-[60%] w-full">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-12">
        <div class="flex flex-col items-center md:items-start text-center lg:text-left">
          <img src="../../assets/images/pointer 1.png" alt="">
          <h3 class="my-4 text-xl lg:text-3xl font-medium">Strategy</h3>
          <p class="max-w-[300px] text-[#90929C] text-sm lg:text-base ">Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .
          </p>
        </div>
        <div class="flex flex-col items-center md:items-start text-center lg:text-left">
          <img src="../../assets/images/pointer2.png" alt="">
          <h3 class="my-4 text-xl lg:text-3xl font-medium">Wireframing</h3>
          <p class="max-w-[300px] text-[#90929C] text-sm lg:text-base ">Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .
          </p>
        </div>
        <div class="flex flex-col items-center md:items-start text-center lg:text-left">
          <img src="../../assets/images/pointer3.png" alt="">
          <h3 class="my-4 text-xl lg:text-3xl font-medium">Design</h3>
          <p class="max-w-[300px] text-[#90929C] text-sm lg:text-base ">Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .
          </p>
        </div>
        <div class="flex flex-col items-center md:items-start text-center lg:text-left">
          <img src="../../assets/images/pointer4.png" alt="">
          <h3 class="my-4 text-xl lg:text-3xl font-medium">Development</h3>
          <p class="max-w-[300px] text-[#90929C] text-sm lg:text-base ">Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .
          </p>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- third portion  -->
<div class="bg-[#fff] py-8 md:py-32">
  <div class="max-w-7xl m-auto flex  items-center justify-between px-5">
    <h2 class="font-semibold text-xl md:text-2xl lg:text-5xl">View our projects</h2>
    <button class="group flex gap-4 items-center md:font-medium text-sm">View More<img src="../../assets/images/Arrow 1 (2).png "
        alt="" class="group-hover:translate-x-2	transition-all duration-500"></button>
  </div>
  <div class="max-w-7xl mx-auto mt-16 flex flex-col md:flex-row gap-4 px-5">
    <div class="basis-[65%]  relative">
      <img src="../../assets/images/Card.png" alt="" class="w-full ">
      <div class="img-text w-2/4 h-full  absolute top-0 left-0  ">
        <div class="flex flex-col justify-end max-w-[300px]  mx-auto h-full pb-4 md:pb-20 px-5">
          <h2 class="font-semibold text-sm sm:text-2xl text-white mb-4">Workhub office Webflow Webflow Design</h2>
          <p class="text-left lg:mb-10 text-white text-xs sm:text-base">Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam
          </p>
          <button class="group flex mt-5 gap-2 md:gap-4 items-center text-[#FCD980] text-xs sm:text-base">View portfolio <img
            src="../../assets/images/Arrow 2 (1).png" alt="" class="group-hover:translate-x-2	transition-all duration-700"></button>
        </div>
      </div>
    </div>

    <div class="basis-[33%] w-full ">
      <div class="flex flex-col gap-4 box-content">
        <div class="relative">
          <img src="../../assets/images/card2.png" alt="" class="w-full max-h-[280px]">
          <div class="img-text w-full h-full  absolute top-0 left-0  ">
            <div class="flex flex-col justify-end max-w-[300px] mx-auto h-full pb-10 px-5 lg:px-0">
              <h2 class="font-semibold lg:text-2xl text-white mb-2 lg:mb-4">Workhub office Webflow Webflow Design</h2>
              <button class="group flex gap-4 items-center text-[#FCD980] text-xs lg:text-base">View portfolio <img
                  src="../../assets/images/Arrow 2 (1).png" alt="" class="group-hover:translate-x-2	transition-all duration-500"></button>
            </div>
          </div>
        </div>
        <div class="">
          <img src="../../assets/images/card3.png" alt="" class="w-full max-h-[280px]">
        </div>
      </div>
    </div>
  </div>
</div>



<!-- fourth portion  -->
<div class="bg-[#F4F6FC] py-10 lg:py-32 px-5 ">
  <div class="flex flex-col items-center text-center text-[#282938]">
    <h3>Features</h3>
    <h1 class="mt-3 text-2xl md:text-3xl lg:text-5xl font-semibold max-w-[630px]">Design that solves problems, one product at a time</h1>
  </div>
  <div class="max-w-7xl m-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-12 px-5 md:px-0">
    <div  *ngFor="let item of gData">
    <div class="w-full bg-white">
      <div class="features max-w-[320px] mx-auto px-5 xl:px-0 py-9 flex flex-col justify-center">
        <img src="{{item.image}}" alt="" class="w-8 mb-3">
        <h3 class="text-lg xl:text-2xl font-medium my-3">{{item.title}}</h3>
        <p class="text-[#90929C] text-sm lg:text-base leading-8">{{item.des}} </p>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- fifth portion  -->
<div class="bg-[#FCFDFE] py-10  lg:py-32">

  <div class="max-w-7xl m-auto flex flex-col  lg:flex-row px-5 ">
    <div class="basis-[40%]">
      <div class="max-w-[320px] mb-5">
        <h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold leading-snug">What our clients say about us</h2>
        <p class="mt-4 text-[#90929C] text-sm lg:text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.</p>
      </div>
    </div>
    <div class="basis-[60%]">
      <h2 class="text-lg lg:text-3xl max-w-[740px] font-medium">"The best agency we’ve worked with so far. They understand our
        product and are able to add new features with a great focus."</h2>
      <div class="flex justify-between items-center mt-12">
        <div class="flex gap-4">
          <img src="../../assets/images/Mask Group.png" alt="">
          <div>
            <h3 class="font-medium text-xl">Jenny Wilson</h3>
            <p class="font-medium text-xs">Vice President</p>
          </div>
        </div>
        <div class="cursor-pointer">
          <i class="fa-solid fa-chevron-left py-[7px] px-[10px] lg:py-2 lg:px-4  rounded-full lg:text-2xl mr-3"></i>
          <i class="fa-solid fa-chevron-right py-[7px] px-[10px] lg:py-2 lg:px-4 text-white bg-[#5239FA] rounded-full lg:text-2xl"></i>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- sixth portion  -->
<div class="bg-[#FCFDFE] py-10 lg:py-32">

  <div class="max-w-7xl m-auto flex flex-col lg:flex-row px-5 ">
    <div class="basis-[40%]">
      <div class="max-w-[320px] mb-10 lg:mb-0">
        <h2 class="text-2xl lg:text-4xl font-semibold leading-snug">Frequently asked questions</h2>
        <p class="my-4 text-[#5239FA] text-sm lg:text-base">Contact us for more info</p>
      </div>
    </div>
    <div class="basis-[60%]">
      <div *ngFor="let item of jsonData; let i = index" class="">
        <div class="flex justify-between mb-8  border-b-2 pb-8 cursor-pointer" (click)="toggleParagraph(i)">
          <div class="flex gap-14">
            <h3 class="text-[#5239FA] md:text-xl xl:text-2xl font-semibold">{{ item.num }}</h3>
            <div class="max-w-[624px]">
              <h2 class="font-medium md:text-xl xl:text-2xl mb-4">{{ item.title }}</h2>
              <p class="text-sm lg:text-base" [hidden]="currentItemIndex !== i">{{ item.detail }}</p>
            </div>
          </div>
          <div class="cursor-pointer" (click)="onCrossIconClick($event, i)">
            <img src="../../assets/images/cross.png" alt="" [hidden]="currentItemIndex !== i">
            <img src="../../assets/images/plus.png" alt="" [hidden]="currentItemIndex === i">
          </div>
        </div>
      </div>
      
      
      
      
    </div>
  </div>
</div>



<!-- seventh portion  -->
<div class="bg-[#FCFDFE] pb-32">

  <div class="max-w-7xl m-auto flex flex-col md:flex-row basis-2/4 px-5 ">

    <div class="w-full relative">
      <img src="../../assets/images/Group 2400.png" alt="" class="w-full h-full">
      <div class="w-full h-full bg-[#1C1E53] opacity-50 absolute top-0 left-0"></div>
      <div class="w-full h-ful absolute top-0 left-0">
        <div class="max-w-[460px] mx-auto mt-24 px-5 lg:px-0">
        <h2 class="text-white font-semibold text-[1.5rem] md:text-[2.5rem] lg:text-[3.375rem]">Building stellar websites for early startups</h2>
        <p class="text-white mt-6 text-sm md:text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.</p>
      </div>
      </div>
    </div>
    <div class="w-full ">
      <div class="w-full h-full bg-[#1C1E53]">
        <div class="max-w-[432px] h-full mx-auto flex flex-col justify-center px-5 lg:px-0 ">
          <h2 class="text-white font-semibold text-[1.2rem] md:text-[2rem] mt-5 ">Send inquiry</h2>
          <p class="mt-4 mb-10 text-white font-medium text-sm md:text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <div>
            <input type="text" placeholder="Your Name" class="py-[10px]  sm:py-[18px] text-sm sm:text-base text-[#e4e6f3] px-8 w-full border border-[#323464] rounded-lg bg-transparent mb-4">
            <input type="email" placeholder="Email" name="email" id="" class="py-[10px]  sm:py-[18px] text-sm sm:text-base text-[#e4e6f3] px-8 w-full border border-[#323464] rounded-lg bg-transparent mb-4">
            <input type="url" placeholder="Paste your Figma design URL" name="url" id="" class="py-[10px]  sm:py-[18px] text-sm sm:text-base text-[#e4e6f3] px-8 w-full border border-[#323464] rounded-lg bg-transparent mb-4">
            <button class="w-full py-2 sm:py-4 rounded-full bg-[#FCD980] mt-6 font-semibold text-base sm:text-[1.125rem]">Send an Inquiry</button>
            <button class="w-full py-4 text-white bg-transparent mt-2 sm:mt-6 font-semibold text-sm sm:text-[1.125rem] flex items-center justify-center gap-5 ">Get in touch with us <img src="../../assets/images/Arrow 1 (1).png" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- eight blog portion  -->
<div class="bg-[#FCFDFE] pb-20">

  <div class="max-w-7xl m-auto px-5 ">
    <h2 class="text-3xl md:text-5xl font-semibold mb-12">Our blog</h2>
    
    <div class=" cards grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 sm:gap-8  ">
      <div *ngFor="let card of combinedData" class="group">
        <div class="card cursor-pointer" routerLink="/detail/{{card.id}}">
          <img [src]="card.url" alt="">
          <p class="text-[#AEAEB5] mt-8 mb-4 text-sm md:text-base">27 Jan 2021</p>
          <p class="text-[#282938] text-xl md:text-2xl font-medium h-[60px] overflow-hidden">{{card.title}}</p>
          <p class="text-[#96969E] mt-4 mb-6 h-[40px] md:h-[50px] overflow-hidden text-sm md:text-base">{{card.body}}</p>
          <a routerLink="/detail/{{card.id}}" class=" flex gap-2 items-center text-sm md:text-base mb-4 text-[#1C1E53] font-medium">Read more <img src="../../assets/images/Arrow 1.png " alt="" class="group-hover:translate-x-2	transition-all duration-500"></a>
        </div>
      </div>
    </div>
  </div>
</div>




