<div class="max-w-7xl m-auto my-12">
    <div class="text-[#96969E] max-w-[831px] text-center m-auto">
        <p>Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had
            ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a
            hillside.</p>
        <button class="mt-4 text-[#2405F2]">Read more</button>
    </div>


    <h2 class="text-center text-5xl font-semibold my-12">Our Blog</h2>
    <div class="cards grid grid-cols-3 gap-8">
        <div class="card">
            <img src="../../assets/images/photo-of-people-using-laptops-3182833.png" alt="">
            <p class="text-[#AEAEB5] mt-8 mb-4">27 Jan 2021</p>
            <p class="text-2xl font-medium ">How one Webflow user grew his single person consultancy from $0-100K in 14
                months</p>
            <p class="text-[#96969E] mt-4 mb-6">See how pivoting to Webflow changed one person’s sales strategy and
                allowed him to attract</p>
            <a routerLink="detail" class="flex gap-2 items-center">Read more <img src="../../assets/images/Arrow 1.png"
                    alt=""></a>
        </div>
        <div class="card">
            <img src="../../assets/images/side-view-photo-of-smiling-woman-in-a-black-and-white-striped-top-sitting-on-a-bed-while-using-a-laptop-3765035.png"
                alt="">
            <p class="text-[#AEAEB5] mt-8 mb-4">27 Jan 2021</p>
            <p class="text-2xl font-medium ">How one Webflow user grew his single person consultancy from $0-100K in 14
                months</p>
            <p class="text-[#96969E] mt-4 mb-6">See how pivoting to Webflow changed one person’s sales strategy and
                allowed him to attract</p>
            <a  routerLink="detail" class="flex gap-2 items-center">Read more <img src="../../assets/images/Arrow 1.png" alt=""></a>
        </div>
        <div class="card">
            <img src="../../assets/images/top-view-photo-of-person-holding-earphones-3183198.png" alt="">
            <p class="text-[#AEAEB5] mt-8 mb-4">27 Jan 2021</p>
            <p class="text-2xl font-medium ">How one Webflow user grew his single person consultancy from $0-100K in 14
                months</p>
            <p class="text-[#96969E] mt-4 mb-6">See how pivoting to Webflow changed one person’s sales strategy and
                allowed him to attract</p>
            <a  routerLink="detail" class="flex gap-2 items-center">Read more <img src="../../assets/images/Arrow 1.png" alt=""></a>
        </div>
        <div class="card">
            <img src="../../assets/images/top-view-photo-of-people-having-a-meeting-3182822.png" alt="">
            <p class="text-[#AEAEB5] mt-8 mb-4">27 Jan 2021</p>
            <p class="text-2xl font-medium ">How one Webflow user grew his single person consultancy from $0-100K in 14
                months</p>
            <p class="text-[#96969E] mt-4 mb-6">See how pivoting to Webflow changed one person’s sales strategy and
                allowed him to attract</p>
            <a  routerLink="detail" class="flex gap-2 items-center">Read more <img src="../../assets/images/Arrow 1.png" alt=""></a>
        </div>
        <div class="card">
            <img src="../../assets/images/man-wearing-red-crew-neck-shirt-1125028.png" alt="">
            <p class="text-[#AEAEB5] mt-8 mb-4">27 Jan 2021</p>
            <p class="text-2xl font-medium ">How one Webflow user grew his single person consultancy from $0-100K in 14
                months</p>
            <p class="text-[#96969E] mt-4 mb-6">See how pivoting to Webflow changed one person’s sales strategy and
                allowed him to attract</p>
            <a  routerLink="detail" class="flex gap-2 items-center">Read more <img src="../../assets/images/Arrow 1.png" alt=""></a>
        </div>
        <div class="card">
            <img src="../../assets/images/group-of-person-sitting-indoors-3184306.png" alt="">
            <p class="text-[#AEAEB5] mt-8 mb-4">27 Jan 2021</p>
            <p class="text-2xl font-medium ">How one Webflow user grew his single person consultancy from $0-100K in 14
                months</p>
            <p class="text-[#96969E] mt-4 mb-6">See how pivoting to Webflow changed one person’s sales strategy and
                allowed him to attract</p>
            <a  routerLink="detail" class="flex gap-2 items-center">Read more <img src="../../assets/images/Arrow 1.png" alt=""></a>
        </div>
    </div>
</div>